astroid==2.3.3
attrs==19.3.0
boto3==1.12.42
botocore==1.15.43
click==7.1.1
coverage==5.1
docutils==0.15.2
entrypoints==0.3
flake8==3.7.9
flake8-docstrings==1.5.0
Flask==1.1.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.5
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.2
more-itertools==8.2.0
numpy==1.18.1
packaging==20.3
pandas==1.0.1
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
pylint==2.4.4
PyMySQL==0.9.3
pyparsing==2.4.7
pytest==5.4.1
pytest-cov==2.8.1
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.3.3
six==1.14.0
snowballstemmer==2.0.0
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.11.2
